
*{

margin: 0;

padding: 0;

}

body{

width: 100%;
height: 100vh;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: linear-gradient(-45deg, #ffce51, #000270, #f7e9e9);

}

#form{
top: 50%;
left: 50%;
width: min-content;
transform: translate(-50%, -50%);
background: #fff;
border-radius: 10px;
padding: 60px;
position: relative;
align-items: center;
color: #0136bb;
}

.title{
margin-bottom: 10%;
font-size: 1.8em;

}

.input{
min-width: 280px;
border-radius: 22px;
border: 2px #0060ae solid;
padding: 5px;

}
h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 10px;
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    transform: translateY(-10);
    color: #000270;

}
button[type="submit"] {
background-color: #4534db;
color: #fff;
border: none;
padding: 10px 20px;
cursor: pointer;
transition:background-color 0.5s ease; 
position: relative;
top: 15px;


  }
  
button[type="submit"]:hover {
background-color: #2980b9; 
  }

